.formContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);

  position: fixed;
  z-index: 1000; /* Make sure it appears above other elements */
  left: 0;
  top: 0;
}

.formExpenses {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
  padding: var(--spacing-large);
  background-color: var(--color-background-light);
  border-radius: var(--border-radius-medium);
}

.formExpenseContainer {
  display: flex;
  flex-direction: column;
}

.expenseLabel {
  margin-bottom: var(--spacing-x-small);
}

.expenseInput {
  padding: var(--spacing-small) var(--spacing-small);
  border: none;
  border-radius: var(--spacing-small);
  box-shadow: 0px 1px 3px black;
}

.inputError {
  color: var(--color-text-error);
  padding: var(--spacing-small) var(--spacing-small);
  margin: 0;
}

.formButtonsContainer {
  flex-direction: row;
  gap: var(--spacing-medium);
}

.formButton {
  flex-grow: 1;
  color: var(--color-text-light);
  background-color: var(--color-background-dark);
  border: none;
  border-radius: var(--spacing-small);
  box-shadow: 0px 1px 3px black;
}

.formButton:hover {
  opacity: 0.9;
}
