table {
  width: 85%;
  border-collapse: separate;
  border-spacing: 0;
  padding-bottom: 5rem;
}

thead {
  width: 100%;
}

tbody {
  width: 100%;
}

tfoot {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
}

tr {
  width: 100%;
  max-height: 32px;
}

tbody tr {
  background-color: var(--color-background-light);
}

tr:nth-child(even) {
  background-color: var(--color-background-medium);
}

th,
td {
  padding: var(--spacing-small);
  text-align: center;
  border: 1px solid rgba(176, 176, 176, 0.5);
}

.expensesTableHeadRow {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
}

.expenseTitleCell {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
}

th:first-child {
  border-top-left-radius: var(--spacing-medium);
}

th:last-child {
  border-top-right-radius: var(--spacing-medium);
}

.expenseRowEmpty {
  height: 100px;
}

.expenseCategoryCell {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
}

.expenseAmountCell {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
}

.expenseDateCell {
  width: 15%;
  white-space: nowrap;
  overflow: hidden;
}

.expenseIdCell {
  width: 35%;
  white-space: normal;
  word-break: break-word;
}

.expenseIdCell {
  letter-spacing: 2px;
}

.expenseToolsCell {
  width: 5%;
}

.toolsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

.toolsContainer button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  border: none;
  border-radius: var(--border-radius-medium);
}

.toolsContainer button:hover {
  opacity: 0.8;
}

.totalExpenseContainer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
}

.totalExpenseContainer p:first-child {
  font-weight: bold;
}
